
/* In CSS we use 'selectors' to target a specific HTML tag for styling */
/*In the asterisk symbol stands for ;'all' which will traget all HTML tags */
* {
	font-family: "Monserrat", sans-serif;
}
/*When selecting an HTML tag using its ID, we use the # symbol*/
/*When selecting an HTML tag using its class, we use the "." symbol*/
#profile{
	height: 350px;
	width:350px;
	border-radius: 50%;
}
body {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask7378%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient7379%26quot%3b)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask7381%26quot%3b)'%3e%3cpath d='M-13.5 283.5L13.5 283.5L40.5 283.5L67.5 283.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M60.75 283.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3cpath d='M202.5 229.5L229.5 256.5L256.5 256.5L283.5 256.5L310.5 229.5M148.5 229.5L175.5 256.5M40.5 256.5L67.5 256.5L94.5 256.5L121.5 256.5L148.5 256.5M-13.5 256.5L13.5 256.5L40.5 256.5L67.5 229.5L94.5 229.5L121.5 229.5L148.5 229.5L175.5 229.5L202.5 229.5L229.5 229.5L256.5 229.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M249.75 229.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM303.75 229.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM168.75 256.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM141.75 256.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3cpath d='M94.5 337.5L121.5 310.5L148.5 310.5L175.5 310.5L202.5 310.5M67.5 310.5L94.5 310.5M-13.5 310.5L13.5 310.5L40.5 310.5L67.5 310.5L94.5 337.5L121.5 337.5L148.5 337.5L175.5 337.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M168.75 337.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM195.75 310.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM87.75 310.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3cpath d='M-13.5 229.5L13.5 229.5L40.5 229.5L67.5 202.5L94.5 202.5L121.5 202.5L148.5 202.5L175.5 202.5L202.5 202.5L229.5 202.5L256.5 202.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M249.75 202.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3cpath d='M175.5 364.5L202.5 391.5M-13.5 337.5L13.5 337.5L40.5 337.5L67.5 337.5L94.5 364.5L121.5 364.5L148.5 364.5L175.5 364.5L202.5 364.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M195.75 364.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM195.75 391.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3cpath d='M121.5 175.5L148.5 148.5L175.5 148.5L202.5 148.5L229.5 148.5M283.5 175.5L310.5 148.5L337.5 148.5L364.5 148.5L391.5 148.5L418.5 148.5M94.5 175.5L121.5 148.5M256.5 175.5L283.5 148.5L310.5 121.5L337.5 121.5M-13.5 202.5L13.5 202.5L40.5 175.5L67.5 175.5L94.5 175.5L121.5 175.5L148.5 175.5L175.5 175.5L202.5 175.5L229.5 175.5L256.5 175.5L283.5 175.5L310.5 175.5L337.5 175.5L364.5 175.5L391.5 175.5L418.5 175.5L445.5 175.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M438.75 175.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM222.75 148.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM411.75 148.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM114.75 148.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM330.75 121.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3cpath d='M40.5 364.5L67.5 391.5M148.5 391.5L175.5 391.5M-13.5 364.5L13.5 364.5L40.5 364.5L67.5 364.5L94.5 391.5L121.5 391.5L148.5 391.5L175.5 418.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M168.75 418.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM60.75 391.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM168.75 391.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3cpath d='M-13.5 175.5L13.5 175.5L40.5 148.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M33.75 148.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3cpath d='M445.5 391.5L472.5 364.5L499.5 337.5M418.5 391.5L445.5 364.5L472.5 337.5L499.5 310.5M337.5 418.5L364.5 445.5L391.5 445.5L418.5 472.5L445.5 472.5L472.5 472.5L499.5 472.5M256.5 445.5L283.5 472.5L310.5 472.5M40.5 418.5L67.5 445.5L94.5 445.5L121.5 445.5L148.5 445.5M-13.5 391.5L13.5 391.5L40.5 418.5L67.5 418.5L94.5 418.5L121.5 418.5L148.5 418.5L175.5 445.5L202.5 445.5L229.5 445.5L256.5 445.5L283.5 445.5L310.5 445.5L337.5 418.5L364.5 418.5L391.5 391.5L418.5 391.5L445.5 391.5L472.5 391.5L499.5 364.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M492.75 364.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM492.75 337.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM492.75 310.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM492.75 472.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM303.75 472.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM141.75 445.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3cpath d='M283.5 94.5L310.5 67.5L337.5 67.5M121.5 121.5L148.5 94.5M40.5 121.5L67.5 94.5L94.5 67.5L121.5 67.5L148.5 67.5M-13.5 148.5L13.5 148.5L40.5 121.5L67.5 121.5L94.5 121.5L121.5 121.5L148.5 121.5L175.5 121.5L202.5 121.5L229.5 94.5L256.5 94.5L283.5 94.5L310.5 94.5L337.5 94.5L364.5 94.5' stroke='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)' stroke-width='4.5'%3e%3c/path%3e%3cpath d='M357.75 94.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM330.75 67.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM141.75 94.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0zM141.75 67.5 a6.75 6.75 0 1 0 13.5 0 a6.75 6.75 0 1 0 -13.5 0z' fill='url(%26quot%3b%23SvgjsLinearGradient7380%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask7378'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7379'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(237%2c 5%2c 236%2c 0.79)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='561.2068800000001' y1='-0.39200000000000007' x2='0.3931200000000001' y2='560.3919999999999' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient7380'%3e%3cstop stop-color='%233a7cc3' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(236%2c 2%2c 202%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cmask id='SvgjsMask7381'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M64.12 283.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M253.12 229.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM307.12 229.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM172.12 256.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM145.12 256.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M172.12 337.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM199.12 310.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM91.12 310.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M253.12 202.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M199.12 364.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM199.12 391.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M442.12 175.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM226.12 148.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM415.12 148.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM118.12 148.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM334.12 121.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M172.12 418.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM64.12 391.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM172.12 391.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M37.12 148.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M496.12 364.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM496.12 337.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM496.12 310.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM496.12 472.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM307.12 472.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM145.12 445.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M361.12 94.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM334.12 67.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM145.12 94.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0zM145.12 67.5 a3.38 3.38 0 1 0 6.76 0 a3.38 3.38 0 1 0 -6.76 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-attachment: fixed;
background-size: cover;
}

#landing{
	height: 70vh;
	/* Center the content vertically using flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

h2 {
  font-size: 30px;
  color: white;
}


p{
	color: white;
}

h3{

color: white;

}
.city{
margin-left: 50px;
}

/* Style the unordered list (ul) */
ul {
  list-style-type: none;
  margin: 50;
  padding: 50;
    height: 50px;

}

/* Style the list items (li) */
li {
  display: inline; /* Display items horizontally */
  margin-right: 20px; /* Add some space between the items */
}

/* Style the links (a) */
a {
  text-decoration: none; /* Remove default underline */
  color: white; /* Text color for links */
  padding: 50px 16px 8px 16px; /* Add padding (top, 
  right, bottom, left) */
  line-height: 50px; /* Adjust line height as needed */
}

/* Hover effect for links */
a:hover {
  background-color:#191970; /* Background color on hover */
  padding: 8px 16px; /* Adjusted padding on hover */
}

button {
 padding: 0.8em 1.8em;
 border: 2px solid transparent;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 16px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #17C3B2;
}

button::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #17C3B2;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

button:hover::before {
 width: 105%;
}

button:hover {
 color: #111;
}




